/*
 *
 *
 *
 */

 @font-face {
    font-family: "Libre Baskerville";
    src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

html {

font-family: "Libre Baskerville", serif;
color: rgb(229, 232, 221);
background-color: #1b1b1b;
scroll-behavior: smooth;

}

body {


    
}

section {

    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-attachment: fixed;

}

h1 {

    font-size: 30px;

}

h2 {

    text-align: center;
    margin: 20px 0px;

}

#team h2 {

    display: inline-block;

}

h3 {

    text-align: center;

}

p {

padding: 15px 0px;

}

.centered {

    text-align: center;

}

.u-green {

    border-bottom: green 2px solid;

}

.u-orange {

    border-bottom: orange 2px solid;

}

.u-purple {

    border-bottom: purple 2px solid

}



#hero {

    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);

}

.pfp {

    border-radius: 50%;
    margin: auto;

}

#team {

    width: 100%;
    padding: 50px;
    list-style: none;

}

#team li {

    padding: 50px 0px;

}


.card {

    width: 100%;
    padding: 50px;

}

.short-card {

    padding: 25px;

}

.short-card img {

    padding: 40px;

}

.left {

    float: left;

}

.right {

    float: right;

}

.bg-light {

    color: black;
    background-color: #FFF;

}

.card-sm {

    padding: 50px;

}

.card-sm h2 {

    width: fixed;
    padding: 0px;
    margin-bottom: 10px;

}

/*
 *
 * Mobile Navigation
 *
 */

#branding {

    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

nav ul {

    display: none;

}

nav li a {

    text-decoration: none;
    color: rgb(229, 232, 221);

}


/*
 *
 * General / Mobile-First Footer
 *
 */

footer {

    min-height: 250px;
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    padding: 30px;

}

.footer-section {

    width: 100%;
    height: 150px;
    text-align: center;
    padding-bottom: 50px;
}

.fa {

    font-size: 25px;
    padding: 25px;

}


/*
 *
 * Desktop & Laptop Style
 *
 */
@media only screen and (min-width: 1224px) {
    
    h2 {

        text-align: left;

    }

    h3 {

        text-align: left;

    }

    section {

        display: flex;
        min-height: 100vh;
    
    }


    .short-card {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        margin: auto;

    }

    .short-card img {

        width: 100%;
        height: 100%;

    }

    .short-card-body {

        width: 60%;

    }

    .pfp {
    
        margin: 0;
        padding: 10px;

    }

    #team {

        height: 100%;
    
    }

    .card {

        width: 50%;
        height: 100%;
        margin: auto;

    }

    .card-sm {

        width: 25%;
        display: inline-block;
        min-height: 500px;
        margin: auto;
        padding: 50px;
        transition: 0.5s;
        border: 1px groove #1b1b1b;
        box-shadow: 10px 5px 5px black;

    }

    .card-sm:hover {

        width: 50%;
        height: 700px;
        transition: 0.5s;

    }

    .service-list {

        display: flex;

    }

    .service-list h3 {

        text-align: center;

    }

    .card-sm.em {

        width: 40%;
        height: 700px;

    }

    section h1 {

        padding: 50px;

    }

    .card-sm h2 {

        text-align: center;

    }

    #branding {

        left: 0%;
        transform: translate(0%);

    }

    nav {

        height: 0px;

    }

    nav ul {

        display: block;
        padding: 50px;
        left: 15%;
        top: 15px;
        position: absolute;

    }

    nav ul li {

        display: inline-block;
        padding: 0px 50px;

    }

    .footer-section {

        width: 50%;

    }

    .footer-section h2 {

        text-align: center;

    }

}