/*
 *
 *
 *
 */

 @font-face {
    font-family: "Libre Baskerville";
    src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

html {

font-family: "Libre Baskerville", serif;
color: rgb(229, 232, 221);
background: linear-gradient(#1b1b1b, #525252);
background-attachment: fixed;
background-size: cover;
scroll-behavior: smooth;
height: 100%;

}

body {

    height: 100%;
    
}

.outer-box {

    border: 2px #a7713a solid;
    transform: translate();
    position: relative;
    height: 50vh;
    width: 75vw;
    margin: auto;
    margin-top: 50px;

}

#hero-section::before {
    content: '';
    /*position: fixed;*/
    position: absolute;
    z-index: -1;
    display: block;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-image: url("../images/background_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
 
 }

.content-box {

    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: #bbbbbb 5px solid;
    left: -10px;
    top: -10px;

}

.bg-dark {

    background: linear-gradient(#1b1b1b, #525252);
    background-attachment: fixed;

}

.swiper {

    padding-top: 150px;
    width: 100vw;
    min-height: 60vh;
    margin: auto;
    z-index: 0;

}

.swiper-slide {

    text-align: center;
    padding: 20px;

}

.swiper-slide a {

    color: rgb(229, 232, 221);
    text-decoration: none;

}

.swiper-slide-active {

}

.swiper-slide-active img {

    

}

.swiper-button-prev {

    display: none;

}

.swiper-button-next {

    display: none;

}

.swiper-pagination-bullet {

    background-color: orange;

}

section {

    width: 100%;
    overflow: hidden;

}

.bg {

    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100vw;
    z-index: -1;

}

.transition {

    margin-top: -400px;
    margin-bottom: -1px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;

}

.bg-down-arrow {

    background-image: url("../images/bg_down_arrow.svg");

}

.bg-swoop-up {

    clip-path: ellipse(100% 100% at 51% 0%);
    height: 700px;

}

.bg-slant-up {

    background-image: url("../images/bg-slant-up.svg");

}

.bg-slant-down {

    background-image: url("../images/bg-slant-down.svg");

}

.bg-slant-down-white {

    background-image: url("../images/bg-slant-down-white.svg");

}

h1 {

    font-size: 30px;

}

h2 {

    text-align: center;
    margin: 20px 0px;

}

#team h2 {

    display: inline-block;

}

h3 {

    text-align: center;

}

p {

padding: 15px 0px;

}

.contentP {

    padding: 25px;
    text-indent: 2em;

}

#Portfolio img {

    border-radius: 50%;
    margin: auto;
    width: 80%;

}

#Portfolio h2 {

    text-align: center;

}

.centered {

    text-align: center;

}

.u-green {

    border-bottom: green 2px solid;

}

.u-orange {

    border-bottom: #a7713a 2px solid;

}

.u-purple {

    border-bottom: purple 2px solid

}



#hero {

    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);

}

.pfp {

    border-radius: 50%;
    margin: auto;

}

#team {

    width: 100%;
    padding: 50px;
    list-style: none;

}

#team li {

    padding: 50px 0px;

}


.card {

    width: 100%;
    padding: 50px;

}

.short-card {

    padding: 25px;

}

.short-card img {

    padding: 40px;

}

.short-card-body {

    text-align: center;

}

.short-card-body p {

    text-align: left;

}

.left {

    float: left;

}

.right {

    float: right;

}

.bg-light {

    color: black;
    background-color: white;

}

.card-sm {

    padding: 50px;

}

.card-sm h2 {

    width: fixed;
    padding: 0px;
    margin-bottom: 10px;

}

/*
 *
 * Mobile Navigation
 *
 */

#branding {

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width:10%

}

#mobile-nav {

    position: absolute;
    top: 0%;
    z-index: 1;
    width: 100%;

}

.overlay-content {

    width: 0%;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    background-color:#1b1b1b;
    transition: all 0.3s;
    padding-top: 100px;

}

.overlay-content a {

    color: rgb(229, 232, 221);
    display: block;
    text-decoration: none;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 50px;

}

#mobile-nav img {

    position: fixed;
    right: 0%;
    padding: 15px;
    width: 65px;
    
}

nav {

    display: block;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(#1b1b1b, #1b1b1bf2, #1b1b1bb0, #1b1b1b00);

}

.closeBtn {

    position: absolute;
    right: 0%;
    top: 0%;
    line-height: 0.5em;
    font-size: 50px;
    padding: 20px;

}

nav ul {

    display: none;

}

nav li a {

    text-decoration: none;
    color: #fff;

}

.fa.scroll-cue {

    font-size: 35px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0%);
    color: white;

}

.action-btn {

    background-color:#FF9966;
    border: 1px outset #a7713a;
    width: 150px;
    padding: 20px;
    margin: auto;

}


/*
 *
 * General / Mobile-First Footer
 *
 */

footer {

    min-height: 250px;
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    padding: 30px;
    background-color: #1b1b1b;

}

.footer-section {

    width: 100%;
    height: 150px;
    text-align: center;
    padding-bottom: 50px;
}

.fa {

    font-size: 25px;
    padding: 25px;

}

.fa-brands {

    font-size: 25px;
    margin: 12px;

}

.fa-medium, .fa-linkedin, .fa-mastodon, .fa-instagram, .fa-envelope, .fa-phone {

    color: #a7713a;

}

.fa-medium:hover, .fa-linkedin:hover, .fa-mastodon:hover, .fa-instagram:hover,.fa-envelope:hover, .fa-phone:hover {

    color: #FF9966;

}


/*
 *
 * Desktop & Laptop Style
 *
 */
@media only screen and (min-width: 1224px) {
    
    h2 {

        text-align: left;

    }

    h3 {

        text-align: left;

    }

    section {

        display: flex;
        min-height: 100%;
        background-size: 100%;
    
    }


    .short-card {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        margin: auto;

    }

    .short-card img {

        width: 100%;
        height: 100%;

    }

    .short-card-body {

        width: 60%;
        text-align: left;

    }

    .card-body {

        width: 80%;
        padding: 50px;
        margin-top: 100px;

    }

    .card-body p {

        text-align: left;

    }

    .pfp {
    
        margin: 0;
        padding: 10px;

    }

    #team {

        height: 100%;
    
    }

    .card {

        width: 50%;
        height: 100%;
        margin: auto;

    }

    .card-sm {

        width: 25%;
        display: inline-block;
        min-height: 500px;
        margin: auto;
        padding: 50px;
        transition: 0.5s;
        border: 1px groove #1b1b1b;
        box-shadow: 10px 5px 5px black;

    }

    .card-sm:hover {

        width: 30%;
        transition: 0.5s;

    }

    .card-sm.em:hover {

        width: 45%;
        transition: 0.5s;

    }

    .service-list {

        display: flex;

    }

    .service-list h3 {

        text-align: center;

    }

    .card-sm.em {

        width: 40%;
        height: 700px;

    }

    section h1 {

        padding: 50px;

    }

    .card-sm h2 {

        text-align: center;

    }

    #branding {

        left: 0%;
        transform: translate(0%);

    }

    nav {

    }

    nav ul {

        display: block;
        padding: 50px;
        right: 0%;
        top: 15px;
        position: absolute;

    }

    nav ul li {

        display: inline-block;
        padding: 0px 50px;

    }

    footer {

        background-color: #1b1b1b;

    }

    .footer-section {

        width: 100%;

    }

    .footer-section h2 {

        text-align: center;

    }

    .swiper {

        padding-top: 0%;

    }

    .swiper-slide {
        padding: 50px;
    }

    .swiper-button-prev {

        color: orange;
        width: 50px;
        display: block;
    
    }
    
    .swiper-button-next {
    
        color: orange;
        width: 50px;
        display: block;
    
    }

    .outer-box {

        margin-left: 50px;

    }

    .content-box {
        top: -25px;
        left: -25px;
    }

    .content-box h2, p {

        text-align: center;

    }

    #mobile-nav {

        display: none;

    }

    #About {

        height: 80vh;
        padding-top: 10px;

    }

    #Services {

        height: 100vh;

    }

    .bg-swoop-up {

        height: 980px;
    
    }
}